name: 00-pr_scanner
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    paths-ignore:
      - '**.yaml'
      - '**.md'
      - '**.sh'
      - 'website/*'
      - 'examples/*'
      - 'docs/*'
      - 'build/*'
      - '.github/*'
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-scanner:
    permissions:
      pull-requests: write
    uses: ./.github/workflows/a-pr-scanner.yaml
    with:
      RELEASE: ""
      CLIENT: test
    secrets: inherit
 
  binary-build:
    if: ${{ contains( github.event.pull_request.labels.*.name, 'trigger-integration-test') }} ## run only if labeled as "trigger-integration-test"
    uses: ./.github/workflows/b-binary-build-and-e2e-tests.yaml
    needs: pr-scanner
    with:
      COMPONENT_NAME: kubescape
      CGO_ENABLED: 1
      GO111MODULE: ""
      GO_VERSION: "1.20"
      RELEASE: ""
      CLIENT: test
      ARCH: ""
      OS: "ubuntu-20.04"
    secrets: inherit