name: 02-create_release
permissions: read-all
on:
  push:
    tags:
      - "v*.*.*-rc.*"
jobs:
  retag:
    outputs:
      NEW_TAG: ${{ steps.tag-calculator.outputs.NEW_TAG }}
    runs-on: ubuntu-large
    steps:
      - uses: actions/checkout@v4
      - id: tag-calculator
        uses: ./.github/actions/tag-action
        with:
          SUB_STRING: "-rc"
  release:
    permissions:
      actions: read
      checks: read
      contents: write
      deployments: read
      discussions: read
      id-token: write
      issues: read
      models: read
      packages: write
      pages: read
      pull-requests: read
      repository-projects: read
      statuses: read
      security-events: read
      attestations: read
      artifact-metadata: read
    needs: [retag]
    runs-on: ubuntu-large
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.5.0

      - name: Create Cosign Key
        run: echo "${{ secrets.COSIGN_PRIVATE_KEY_V1 }}" > cosign.key

      - name: Tag Release
        run: |
          git tag ${{ needs.retag.outputs.NEW_TAG }}

      - uses: anchore/sbom-action/download-syft@v0
        name: Setup Syft

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COSIGN_PWD: ${{ secrets.COSIGN_PRIVATE_KEY_V1_PASSWORD }}
          RELEASE: ${{ needs.retag.outputs.NEW_TAG }}
          CLIENT: release
